Importing Libraries

In [1]:
import  requests
from  bs4 import BeautifulSoup

Requesting webpage source code

In [2]:
page = requests.get('https://www.imdb.com/india/top-rated-indian-movies/')

Parsing the source code

In [3]:
soup = BeautifulSoup(page.text, 'html.parser')

Creating required empty lists

In [4]:
Movie_Name=[]
IMDB_Rating=[]
Year_of_Release=[]

Extracting movie names and release year

In [5]:
info=soup.find_all('td',class_="titleColumn")

In [6]:
for i in info:
    title =i.a.text
    Movie_Name.append(title)
    year = i.span.text.replace('(','')
    year_2=year.replace(')','')
    Year_of_Release.append(year_2)

In [7]:
Movie_Name[0:10]

['Pather Panchali',
 'Gol Maal',
 'Ratsasan',
 'Nayakan',
 'Anbe Sivam',
 'Apur Sansar',
 'Natsamrat',
 'Kireedam',
 'Pariyerum Perumal',
 'Black Friday']

In [8]:
Year_of_Release[0:10]

['1955',
 '1979',
 '2018',
 '1987',
 '2003',
 '1959',
 '2016',
 '1989',
 '2018',
 '2004']

Extracting IMDB Rating

In [9]:
rating = soup.find_all('td', class_="ratingColumn imdbRating")

In [10]:
for i in rating:
    imdb=i.strong.text
    IMDB_Rating.append(imdb)

In [11]:
IMDB_Rating[0:10]

['8.5', '8.5', '8.5', '8.5', '8.5', '8.4', '8.4', '8.4', '8.4', '8.4']

Converting in structured format

In [12]:
import pandas as pd
table=pd.DataFrame({})
table['Movie Name']=Movie_Name[0:100]
table['IMDB Rating']=IMDB_Rating[0:100]
table['Year of release']=Year_of_Release[0:100]

In [13]:
table

         Movie Name IMDB Rating Year of release
0   Pather Panchali         8.5            1955
1          Gol Maal         8.5            1979
2          Ratsasan         8.5            2018
3           Nayakan         8.5            1987
4        Anbe Sivam         8.5            2003
..              ...         ...             ...
95            Lucia         8.0            2013
96           Bombay         8.0            1995
97          Maqbool         8.0            2003
98           Omkara         8.0            2006
99      Section 375         8.0            2019

[100 rows x 3 columns]

Saving as a CSV file

In [14]:
table.to_csv('Web Scraping(Beautiful Soup)-Assignment 3.csv')